<h2> Chapter 8. Lists </h2>

<i>Author: Erdogan Dogdu</i>

List: A sequence of values (called "elements" or "items")

<h3> Create a list </h3> 

A list of integers

In [1]:
[10, 20, 30, 50]

[10, 20, 30, 50]

A list of strings

In [2]:
['one', 'two', 'three']

['one', 'two', 'three']

A list of mixed typed elements (integer, string, boolean, float, list (of characters))

In [3]:
list = [1, 'two', True, 3.5, ['a','b','c']]

In [4]:
list

[1, 'two', True, 3.5, ['a', 'b', 'c']]

List are mutable (can change elements)

In [5]:
list[0] = 5

In [6]:
list

[5, 'two', True, 3.5, ['a', 'b', 'c']]

In [7]:
len(list)

5

In [8]:
list[4]

['a', 'b', 'c']

In [9]:
list[4][0]

'a'

<h3> Traverse a list </h3>

In [10]:
for e in list:
    print(e)

5
two
True
3.5
['a', 'b', 'c']

'<b>in</b>' and '<b>not in</b>' operators works with lists:

In [11]:
'two' in list

True

In [12]:
3.0 in list

False

In [13]:
6 not in list

True

<h3> List operations </h3> 

'+' to concatenate two lists

In [14]:
a = [1, 2, 3]
b = [4, 5]
c = a + b

In [15]:
a

[1, 2, 3]

In [16]:
b

[4, 5]

In [17]:
c

[1, 2, 3, 4, 5]

Repeat a list using * a number of times

In [18]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [19]:
c

[1, 2, 3, 4, 5]

List slices using :

In [20]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [21]:
t[1:3]

['b', 'c']

In [22]:
t[:4]

['a', 'b', 'c', 'd']

In [23]:
t[3:]

['d', 'e', 'f']

In [24]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [25]:
t[1:3] = ['x', 'y']

In [26]:
t

['a', 'x', 'y', 'd', 'e', 'f']

append method

In [27]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [28]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

count method

In [29]:
t1.count('c')

1

index method

In [30]:
t1.index('c')

2

reverse method

In [31]:
t1.reverse()

In [32]:
t1

['e', 'd', 'c', 'b', 'a']

copy method

In [33]:
t2 = t1.copy()
t2

['e', 'd', 'c', 'b', 'a']

clear method

In [34]:
t2.clear()
t2

[]

sort method

In [35]:
t1

['e', 'd', 'c', 'b', 'a']

In [36]:
t1.sort()

In [37]:
t1

['a', 'b', 'c', 'd', 'e']

Deleting elements (pop, del, remove)

In [38]:
x = t1.pop()

In [39]:
x

'e'

In [40]:
t1

['a', 'b', 'c', 'd']

In [41]:
t1.pop(2)

'c'

In [42]:
t1

['a', 'b', 'd']

In [43]:
del t1[1]

In [44]:
t1

['a', 'd']

In [45]:
t1.remove('a')

In [46]:
t1

['d']

Functions to run on lists (len, min, max, sum)

In [47]:
nums = [3, 41, 12, 9, 74, 15]
len(nums)

6

In [48]:
max(nums)

74

In [49]:
min(nums)

3

In [50]:
sum(nums)

154

In [51]:
sum(nums)/len(nums)

25.666666666666668

Lists and strings

In [52]:
s = 'spam'
t = [x for x in s]

In [53]:
t

['s', 'p', 'a', 'm']

In [54]:
' '.join(t)

's p a m'

<h3>List comprehension</h3>

You can create a list using a for loop:

In [55]:
squares = []
for x in range(10):
    squares.append(x**2)

In [56]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

You can create the same list using "list comprehension", that is brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

In [57]:
squares = [x**2 for x in range(10)]

In [58]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

create a new list by doubling the values in a list

In [59]:
[x*x for x in squares]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

filter the list to exclude even numbers

In [60]:
[x for x in squares if x%2 != 0]

[1, 9, 25, 49, 81]

call a method on each elements of a list

In [61]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

call a method on each element of a list of the element satisfies a condition (including letter 'o')

In [62]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit if weapon.find('o')>=0]

['loganberry', 'passion fruit']

nested list comprehension

transpose a matrix

In [63]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

In [64]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [65]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [66]:
m = [[] for x in range(len(matrix[0]))]
for i in range(len(matrix[0])):
    for row in range(len(matrix)):
        m[i].append(matrix[row][i])

In [67]:
m

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
list = [x*2+1 for x in range(5)]

In [69]:
list

[1, 3, 5, 7, 9]

In [70]:
str = 'one,two;three,four;five'
w = str.split(';')
print(len(w))

3

In [71]:
print([x for x in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]